html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg') no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
}
.container {
    max-width: 940px;
}
.header .container {
    border-bottom: 1px solid white;
}

.header img {
    margin: 25px;
    width: 50px;
    height: 50px;
}

.main {
    color: white;
}

.main h4 {
    margin-top: 60px;
    font-weight: bold;
    font-size: 30px;
}
.formClass {
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: left;
}

.main .button {
    color: white;
    background: #205949;
    padding: 8px;
    margin-bottom: 80px;
}

/*footer*/
.footer {
    margin-top: 80px;
    color: white;
}

.footer .container {
    border-top: 1px solid white;
}

.footer ul {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.footer li{
    display: inline;
    margin-right: 10px;
}