html, body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.container {
    max-width:940px;
}

/* Header */
.header {
    padding: 10px 0;
    background-color: rgba(0,0,0,0.5);
}
.header li {
    color: white;
    display: inline;
    list-style: none;
    margin: 10px;
}

/* Jumbotron */
.jumbotron {
    position: block;
    top: 50px;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    background: url('https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg') no-repeat center center;
}

/* Supporting */
.supporting {
    margin-top: 40px;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}