html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
body {
  background: url('https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header */

.header {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 940px;
}
.logo {
  margin: 0 30px 0;
  vertical-align: middle;
}
.nav {
  display: inline-block;
  margin: 0;
  padding: 8px 0;
}
.nav li {
  display: inline-block;
  color: white;
  list-style: none;
  margin: 10px;
}

/* Jumbotron */

.jumbotron {
  background-color: transparent;
  position: relative;
  top: 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  text-align: center;
}
.jumbotron h1 {
  color: white;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Supporting */

.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}
.supporting .col-md-4 {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
img {
  vertical-align: middle;
  border: 0;
}
.supporting h2 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.supporting p {
  font-size: 16px;
  margin: 0 0 10px;
}
.download {
  position: relative;
  text-align: center;
  top: 80px;
}
.btn-default {
  color: white;
  background: rgba(0, 255, 188, 0.5);
  font-size: 18px;
  border: none;
  padding: 10px 60px;
  margin-bottom: 100px;
}
.btn:hover {
  background-color: rgba(0, 255, 188, 0.5);
  box-shadow: 0 2px 4px rgba(0, 255, 188, 0.5);
  border-color: rgba(0, 255, 188, 0.5)
}
