html, body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.jumbotron {
    background-color: #000000;
}

.container {
    max-width: 970px;
}
.header .col-md-6 {
    vertical-align: middle;
}
.header ul {
    text-align: center;
    color: white;
    list-style: none;
    display: inline;
}
.header li {
    display: inline;
    margin-right: 25px;
}
.jumbotron .btn {
    color:#0393ff;
    background: transparent;
    border: 1px solid #0393ff;
    border-radius: 2px;
    padding: 8px 20px;
}
.main {
    margin-top: 80px;
    text-align: center;
}
.main h1 {
    color: white;
    margin-bottom: 30px;
}

.form-inline .form-group {
    margin:0;
}

#search {
    background: tansparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin: 0 20px;
    width: 400px;
}


.supporting {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png)  center center;
    background-size: cover;
}

.row img {
    margin: 20px;
}