html, body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.jumbotron {
    background-color: #000000;
}

.container {
    max-width: 970px;
}
.header .col-md-6 {
    vertical-align: middle;
}
.header ul {
    text-align: center;
    color: white;
    list-style: none;
    display: inline;
}
.header li {
    display: inline;
    margin-right: 25px;
}
.jumbotron .btn {
    color:#0393ff;
    background: transparent;
    border: 1px solid #0393ff;
    border-radius: 2px;
    padding: 8px 20px;
}
.main {
    text-align: center;
}
.main h1 {
    color: white;
    margin-bottom: 30px;
}

.supporting {
    background-image: url(s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
    background-size: 141px 142px;
}