html, body {
  margin: 0;
  padding: 0;
}
.jumbotron {
  background: url('https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg') no-repeat center center;
  background-size: cover;
  height: 900px;
  margin-bottom: 0;
}
.header .row {
  display: block;
}
.header img {
  height: 90px;
  width: 90px;
  margin: 0;
  vertical-align: middle;
}
.header ul {
  list-style: none;
  margin-top: 40px;
}
.header li {
  margin-left: 13px;
  display: inline;
}
a {
  color: white;
}
.btn {
  color: white;
  background-color: #FF003D;
  border: 1px solid #FF003D;
  border-radius: 1px;
}
.btn:hover {
  color: black;
  background-color: #FF003D;
  border-color: #FF003D;
}
.main {
  color: white;
}
.main h1 {
  padding-top: 60px;
}
.main p {
  font-size: 20px;
}

/* supporting-1 */

.supporting-1 {
  background-color: #161718;
  color: white;
}
.supporting-1 .row {
  padding: 80px;
}

/* supporting-2 */

.supporting-2 {
  background-color: #000000;
  color: white;
}
.supporting-2 .row {
  padding: 80px;
}

/* supporting-3 */

.supporting-3 {
  background-color: #161718;
  color: white;
}
.supporting-3 .row {
  padding: 80px;
}

/* feature */

.feature {
  color: white;
  background: url('https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  text-align: center;
}
.feature h3 {
  margin-top: 120px;
}
.feature img {
  vertical-align: middle;
}

/* footer */

.footer {
  background-color: black;
  color: white;
}
.footer .row {
  padding: 60px;
}
.footer h4 {
  text-transform: uppercase;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer li {
  margin-bottom: 5px;
}
.footer a {
  color: #d3d3d3;
}
