html, body {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  background: black;
  height: 80px;
}
.header .row {
  padding: 15px;
}
.header img {
  width: 200px;
}
.form-inline .form-group {
  margin: 0;
}
.btn {
  color: white;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #0393ff;
  border-radius: 2px;
}
#search {
  background: transparent;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 200px;
}

/* menu */

.menu {
  background: #152230;
  height: 40px;
}
.menu ul.nav {
  list-style: none;
}
.menu ul.nav li {
  display: inline-block;
  text-align: center;
  color: white;
}
.menu ul.nav a:hover, .menu ul.nav li.active {
  background: #1a77ff;
}
.menu ul.nav li a {
  color: white;
}

/* main */

.main {
  background: url('https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg') no-repeat;
  background-size: cover;
  color: white;
  height: 800px;
}
.main .row {
  padding: 15px;
}
.date {
  margin-top: 15px;
  font-size: 18px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  margin: 20px 0;
}
span {
  border-bottom: 4px solid #1a77ff;
}
p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

/* supporting */

.supporting {
  background: #F2F2F2;
}
.supporting .row {
  margin: 50px 0;
}
.supporting .row .col-md-8 {
  background: #FFFFFF;
  padding: 20px 40px 40px 40px;
}
.supporting .row .col-md-4 {
  color: white;
  background: black;
  padding: 20px 40px 40px 40px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
h4 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/*footer*/

.footer {
  background: black;
  padding: 40px 0;
}
.footer ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
.footer ul li {
  color: white;
  display: inline;
  margin: 0 40px 0 0;
}
.footer p {
  color: #e2e2e2;
  float: right;
  margin: 0 0 10px;
}
